 .u-section-1 {
  background-image: linear-gradient(#476160, #296535);
}

.u-section-1 .u-sheet-1 {
  min-height: 569px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin: 50px 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 16px) calc(33.3333% - 16px) calc(33.3333% - 16px);
  min-height: 375px;
  grid-gap: 24px 24px;
  grid-auto-columns: calc(33.3333% - 16px);
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 213px;
  width: 300px;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0 30px;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 213px;
  width: 300px;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 30px;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 30px;
  padding: 2px 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 213px;
  width: 300px;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0 30px;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 20px auto 0 30px;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 306px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 16px));
    grid-auto-columns: calc(33.333333333333336% - 16px);
  }

  .u-section-1 .u-image-1 {
    height: 210px;
    width: 235px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 84px;
  }

  .u-section-1 .u-image-2 {
    height: 210px;
    width: 235px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -6px;
    margin-left: 84px;
  }

  .u-section-1 .u-image-3 {
    height: 210px;
    width: 235px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -6px;
    margin-left: 84px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    min-height: 740px;
    grid-template-columns: repeat(2, calc(50% - 12px));
    grid-auto-columns: calc(50% - 12px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-2 {
  background-image: linear-gradient(#296535, #476160);
}

.u-section-2 .u-sheet-1 {
  min-height: 1083px;
}

.u-section-2 .u-text-1 {
  width: 314px;
  margin: 54px auto 0;
}

.u-section-2 .u-gallery-1 {
  width: 689px;
  height: 542px;
  grid-gap: 10px 10px;
  margin: 40px auto 60px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 78px;
    height: 78px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 78px;
    height: 78px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 78px;
    height: 78px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 78px;
    height: 78px;
  }
} .u-section-3 {
  background-image: linear-gradient(#476160, #315a26);
}

.u-section-3 .u-sheet-1 {
  min-height: 400px;
}